
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/apptheme'>App Theme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/product'>product</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>